# **CSMODEL Project: AI Copilot in Education Analysis**
Group 5

## **1. Introduction**

This dataset was made by Emille Villacerat and Celbert Himang as part of their paper “Data on behavioural intention to use AI copilot through TAM and AI ecological education policy lens” last May 13, 2025. According to the paper, the study introduces a dataset examining the behavioral intention of the faculty and students of Cebu Technological University to adopt AI Copilot. The analysis is grounded in the Technology Acceptance Model (TAM) and the AI Ecological Education Policy Framework. Data was gathered through a quantitative survey, administered digitally to a diverse group of participants, including professors and students from different academic departments and year levels.<br>

The researchers gathered the data through an online, five point Likert Scale survey to assess the perceptions of AI Copilot adoption amongst respondents of Cebu Technological University. The questions used in the survey were derived from existing literature on technology acceptance and educational frameworks.

Each row in the dataset corresponds to one respondent. 414 responses were gathered, however only 396 were deemed valid responses due to low variability of answers from 18 respondents. The whole survey, ranging from demographics, to likert scale questions, totals to 45 variables.

## **2. Project Requirements**

### **Importing Libraries**

In [599]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import re

### **Loading the Dataset**

In [600]:
# Clone github repository for the data
!git clone https://github.com/CyAdrienneRamos/csmodel-mco.git
# Load the dataset into a dataframe
file_path_raw = '/content/csmodel-mco/dataset/survey_data_raw.xls'
df = pd.read_excel(file_path_raw, nrows=414)

fatal: destination path 'csmodel-mco' already exists and is not an empty directory.

## **3. Data Preprocessing**

### **Initial Look Into the Dataset**

We start the data preprocessing process by inspecting the `head()` and `tail()` of the dataframe. We do this to do a first check for the completeness of the dataset. It also helps identify preparations needed for the rest of the process.

#### Inspecting the Head and Tail

We can immediately see that the column labels are very long and messy. There are also unnecessary columns that we will deal with later. Other than those, the starting and ending rows match the dataset.

In [601]:
# Check if the data is properly imported
df.head(3)

,TimeStamp(OnOpenForm),Timestamp(OnClickSubmit),Duration(in Minutes),"I am aware of the purpose of this survey questionnaire on AI Copilot in Education: A Study on Usage and Acceptance through TAM and AI Ecological Policy Lens. The survey is designed to understand my experiences, perceptions, and attitudes toward using AI",Age:,Sex:,Highest Educational Attainment,Type of respondent,College:,"If student, specify year level",...,PEOU2:My interaction with AI Copilot does not require much mental effort.,PEOU3: It is easy to become skillful using AI Copilot,PEOU4: I found AI Copilot easy to use.,PEOU5: It would be easy for me to find information using AI Copilot.,ITU1: I intend to use AI Copilot to a greater extent.,ITU2: I think doing my schoolwork using AI Copilot is interesting.,ITU3: I believe that AI Copilot is a valuable tool for doing my schoolwork.,ITU4: I will recommend AI Copilot to another schoolmate or colleague.,ITU5: I believe that AI Copilot has given me a unique experience.,Please check the box(es) corresponding to the barriers and challenges that may be encountered in the continuous usage of AI Copilot
0,2024-10-17 21:24:58.000,2024-10-17 21:36:58.000,12,I consent voluntarily to participate in this s...,21,Male,College Level,Student,"College of Computer, Information and Communica...",Second Year,...,4,4,5,5,4,4,5,4,4,AI Copilot ethical dilemma
1,2024-10-17 21:17:47.246,2024-10-17 21:28:47.246,11,I consent voluntarily to participate in this s...,19,Male,College Level,Student,"College of Computer, Information and Communica...",Second Year,...,5,5,5,4,3,5,5,5,5,"AI Copilot ethical dilemma, Inflexible teachin..."
2,2024-10-17 21:20:07.997,2024-10-17 21:34:07.997,14,I consent voluntarily to participate in this s...,19,Male,College Level,Student,"College of Computer, Information and Communica...",Second Year,...,3,2,3,5,4,4,3,3,4,AI Copilot ethical dilemma

In [602]:
# Check if the data is properly imported
df.tail(3)

,TimeStamp(OnOpenForm),Timestamp(OnClickSubmit),Duration(in Minutes),"I am aware of the purpose of this survey questionnaire on AI Copilot in Education: A Study on Usage and Acceptance through TAM and AI Ecological Policy Lens. The survey is designed to understand my experiences, perceptions, and attitudes toward using AI",Age:,Sex:,Highest Educational Attainment,Type of respondent,College:,"If student, specify year level",...,PEOU2:My interaction with AI Copilot does not require much mental effort.,PEOU3: It is easy to become skillful using AI Copilot,PEOU4: I found AI Copilot easy to use.,PEOU5: It would be easy for me to find information using AI Copilot.,ITU1: I intend to use AI Copilot to a greater extent.,ITU2: I think doing my schoolwork using AI Copilot is interesting.,ITU3: I believe that AI Copilot is a valuable tool for doing my schoolwork.,ITU4: I will recommend AI Copilot to another schoolmate or colleague.,ITU5: I believe that AI Copilot has given me a unique experience.,Please check the box(es) corresponding to the barriers and challenges that may be encountered in the continuous usage of AI Copilot
411,2024-10-28 12:41:05.672,2024-10-28 12:50:05.672,9,I consent voluntarily to participate in this s...,19,Female,College Level,Student,"College of Computer, Information and Communica...",Second Year,...,2,2,4,4,4,4,2,4,4,"AI Copilot ethical dilemma, AI Copilot privacy..."
412,2024-10-28 14:36:35.273,2024-10-28 14:50:35.273,14,I consent voluntarily to participate in this s...,19,Female,College Level,Student,College of Management and Entrepreneurship,Second Year,...,3,3,3,3,3,3,3,4,4,"AI Copilot ethical dilemma, AI Copilot privacy..."
413,2024-10-28 19:15:49.326,2024-10-28 19:29:49.326,14,I consent voluntarily to participate in this s...,19,Female,College Level,Student,College of Management and Entrepreneurship,Second Year,...,3,3,4,4,3,4,5,5,5,"AI Copilot privacy concern, AI Copilot gives i..."

#### Cleaning the columns

We can start by removing the unnecessary columns and renaming the rest with more concise labels and use the question codes from the survey questionnaire if applicable. We will also not be using the columns for timestamps, duration, and consent.

In [603]:
# We will not be using the timestamps, duration, and consent
df = df.drop(columns=df.columns[:4])
df.columns

Index(['Age:', 'Sex:', 'Highest  Educational Attainment', 'Type of respondent',
       'College:', 'If student, specify year level', 'Years of AI usage',
       'RAE1: The assessment design should allow AI such as AI Copilot to enhance learning outcomes.',
       'RAE2: An assessment must focus on students' comprehension',
       'RAE3: Assessment must be automated scoring.',
       'RAE4: Teachers must use portfolio assessments to track students’ progress. ',
       'RAE5: Teachers must use rubrics to set clear performance standards, allowing for fair and organized assessment of student work.',
       'RAE6: The assessment design should not allow AI Copilot to enhance learning outcomes. ',
       'GS1: Teachers must teach the students to evaluate the credibility of AI Copilot-generated content.',
       'GS2: Teachers must create learning activities incorporating instructional strategies that enhance students’ critical thinking skills.',
       'GS3: The university must provide educational resources such as AI Copilot to enhance students’ self-regulation.',
       'GS4: Teachers must create active learning tasks that enhance students’ social responsibility learning.',
       'GS5: Teachers must allow the students to learn workplace skills.',
       'PS1:  Teachers must teach the students how to use AI Copilot responsibly.',
       'PS2:   The university must develop curricula that reflect the increasing prominences of AI in various industries.',
       'PS3:   Curricula should prioritize applied skills over rote memorization.',
       'PS4:    Teachers must measure key skills for human-AI collaboration by prioritizing portfolios over standardized scores to capture growth.',
       'PS5:     Teachers must prepare the students for life-long, student-driven learning.',
       'BA1:      Teachers must incorporate AI Copilot in the development of assessments.',
       'BA2:    I should learn how AI Copilot can assist me.',
       'BA3:   I must balance the automation provided by AI Copilot by understanding that I am still the pilot of my work.',
       'BA4:   The university must provide adequate training for users to enhance their skills and confidence in using AI Copilot',
       'BA5:   The university must address ethical issues with AI Copilot, like bias, transparency, and mental health effects.',
       'PU1:  Using AI Copilot in my work would enable me to accomplish tasks more quickly.',
       'PU2: Using AI Copilot can improve my work efficiency.',
       'PU3: Advancing studies using AI Copilot can help me acquire the information I want.',
       'PU4: Using AI Copilot in my work would increase my productivity.',
       'PU5: AI Copilot would improve my work performance.',
       'PU6: Using AI Copilot in my work won't enable me to accomplish tasks more quickly.',
       'PEOU1: Learning to operate AI Copilot would be easy for me.',
       'PEOU2:My interaction with AI Copilot does not require much mental effort.',
       'PEOU3: It is easy to become skillful using AI Copilot',
       'PEOU4: I found AI Copilot easy to use.',
       'PEOU5: It would be easy for me to find information using AI Copilot.',
       'ITU1: I intend to use AI Copilot to a greater extent.',
       'ITU2: I think doing my schoolwork using AI Copilot is interesting.',
       'ITU3: I believe that AI Copilot is a valuable tool for doing my schoolwork.',
       'ITU4: I will recommend AI Copilot to another schoolmate or colleague.',
       'ITU5: I believe that AI Copilot has given me a unique experience.',
       'Please check the box(es) corresponding to the barriers and challenges that may be encountered in the continuous usage of AI Copilot'],
      dtype='object')

In [604]:
# We first take the parts before each ":"
df.columns = df.columns.str.split(':').str[0]
df.columns

Index(['Age', 'Sex', 'Highest  Educational Attainment', 'Type of respondent',
       'College', 'If student, specify year level', 'Years of AI usage',
       'RAE1', 'RAE2', 'RAE3', 'RAE4', 'RAE5', 'RAE6', 'GS1', 'GS2', 'GS3',
       'GS4', 'GS5', 'PS1', 'PS2', 'PS3', 'PS4', 'PS5', 'BA1', 'BA2', 'BA3',
       'BA4', 'BA5', 'PU1', 'PU2', 'PU3', 'PU4', 'PU5', 'PU6', 'PEOU1',
       'PEOU2', 'PEOU3', 'PEOU4', 'PEOU5', 'ITU1', 'ITU2', 'ITU3', 'ITU4',
       'ITU5',
       'Please check the box(es) corresponding to the barriers and challenges that may be encountered in the continuous usage of AI Copilot'],
      dtype='object')

In [605]:
# Then we list the replacement names for some of the labels
columns_keys_map = {
    'Highest  Educational Attainment':'Education',
    'Type of respondent':'Respondent',
    'If student, specify year level':'YearLevel',
    'Years of AI usage':'UsageYears',
    'Please check the box(es) corresponding to the barriers and challenges that may be encountered in the continuous usage of AI Copilot':'Barriers'
}
# Then apply the changes
df.columns = [columns_keys_map.get(x, x) for x in df.columns]
df.columns

Index(['Age', 'Sex', 'Education', 'Respondent', 'College', 'YearLevel',
       'UsageYears', 'RAE1', 'RAE2', 'RAE3', 'RAE4', 'RAE5', 'RAE6', 'GS1',
       'GS2', 'GS3', 'GS4', 'GS5', 'PS1', 'PS2', 'PS3', 'PS4', 'PS5', 'BA1',
       'BA2', 'BA3', 'BA4', 'BA5', 'PU1', 'PU2', 'PU3', 'PU4', 'PU5', 'PU6',
       'PEOU1', 'PEOU2', 'PEOU3', 'PEOU4', 'PEOU5', 'ITU1', 'ITU2', 'ITU3',
       'ITU4', 'ITU5', 'Barriers'],
      dtype='object')

In [606]:
df.head()

,Age,Sex,Education,Respondent,College,YearLevel,UsageYears,RAE1,RAE2,RAE3,...,PEOU2,PEOU3,PEOU4,PEOU5,ITU1,ITU2,ITU3,ITU4,ITU5,Barriers
0,21,Male,College Level,Student,"College of Computer, Information and Communica...",Second Year,0 - 1 year,5,5,4,...,4,4,5,5,4,4,5,4,4,AI Copilot ethical dilemma
1,19,Male,College Level,Student,"College of Computer, Information and Communica...",Second Year,0 - 1 year,5,3,3,...,5,5,5,4,3,5,5,5,5,"AI Copilot ethical dilemma, Inflexible teachin..."
2,19,Male,College Level,Student,"College of Computer, Information and Communica...",Second Year,1 - 2 years,5,5,4,...,3,2,3,5,4,4,3,3,4,AI Copilot ethical dilemma
3,19,Male,College Level,Student,"College of Computer, Information and Communica...",Second Year,1 - 2 years,4,4,3,...,4,4,4,4,4,3,3,3,3,"AI Copilot privacy concern, Insufficient budge..."
4,19,Female,College Level,Student,"College of Computer, Information and Communica...",Second Year,0 - 1 year,4,5,2,...,4,4,4,4,4,4,4,4,4,Insufficient budget for the adoption of AI Cop...

#### Completeness and Data Types

Looking at the `df.info()`, we can see that we have some null values in the `YearLevel` and `Barriers` columns. Some column data types also defaulted to objects. We will be dealing with these in the following sections.

In [607]:
# Here we see the columns, number of rows, data types, and null counts
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 414 entries, 0 to 413
Data columns (total 45 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Age         414 non-null    int64
 1   Sex         414 non-null    object
 2   Education   414 non-null    object
 3   Respondent  414 non-null    object
 4   College     414 non-null    object
 5   YearLevel   387 non-null    object
 6   UsageYears  414 non-null    object
 7   RAE1        414 non-null    int64
 8   RAE2        414 non-null    int64
 9   RAE3        414 non-null    int64
 10  RAE4        414 non-null    int64
 11  RAE5        414 non-null    int64
 12  RAE6        414 non-null    int64
 13  GS1         414 non-null    int64
 14  GS2         414 non-null    int64
 15  GS3         414 non-null    int64
 16  GS4         414 non-null    int64
 17  GS5         414 non-null    int64
 18  PS1         414 non-null    int64
 19  PS2         414 non-null    int64
 20  PS3         414 non-null    int64
 21  PS4         414 non-null    int64
 22  PS5         414 non-null    int64
 23  BA1         414 non-null    int64
 24  BA2         414 non-null    int64
 25  BA3         414 non-null    int64
 26  BA4         414 non-null    int64
 27  BA5         414 non-null    int64
 28  PU1         414 non-null    int64
 29  PU2         414 non-null    int64
 30  PU3         414 non-null    int64
 31  PU4         414 non-null    int64
 32  PU5         414 non-null    int64
 33  PU6         414 non-null    int64
 34  PEOU1       414 non-null    int64
 35  PEOU2       414 non-null    int64
 36  PEOU3       414 non-null    int64
 37  PEOU4       414 non-null    int64
 38  PEOU5       414 non-null    int64
 39  ITU1        414 non-null    int64
 40  ITU2        414 non-null    int64
 41  ITU3        414 non-null    int64
 42  ITU4        414 non-null    int64
 43  ITU5        414 non-null    int64
 44  Barriers    413 non-null    object
dtypes: int64(38), object(7)
memory usage: 145.7+ KB

### **Data Cleaning - Demographic Section**

#### Age

There are no problems with the Age column.

In [608]:
# No problems with the values
df['Age'].describe()

count    414.000000
mean      20.712560
std        4.410749
min       18.000000
25%       19.000000
50%       20.000000
75%       21.000000
max       57.000000
Name: Age, dtype: float64

#### Sex

We convert the data type to categorical.

In [609]:
# No problems with the unique values and counts
df['Sex'].value_counts(dropna=False)

Sex
Male      209
Female    205
Name: count, dtype: int64

In [610]:
# Convert to categorical
df['Sex'] = pd.Categorical(df['Sex'], categories=df['Sex'].unique())

#### Respondent

We convert the data type to categorical.

In [611]:
# No problems with the unique values and counts
df['Respondent'].value_counts(dropna=False)

Respondent
Student    390
Teacher     24
Name: count, dtype: int64

In [612]:
# Convert to categorical
df['Respondent'] = pd.Categorical(df['Respondent'], categories=df['Respondent'].unique())

#### Usage Years

We convert the data type to categorical.

In [613]:
# No problems with the unique values and counts
df['UsageYears'].value_counts(dropna=False)

UsageYears
1 - 2 years       195
0 - 1 year        142
3 - 4 years        49
beyond 4 years     28
Name: count, dtype: int64

In [614]:
# Convert to categorical
df['UsageYears'] = pd.Categorical(df['UsageYears'], categories=df['UsageYears'].unique())

#### College


We remove respondents from colleges not under the main Cebu Technological University. We then convert the data type to categorical.

6 rows were dropped in the process.

In [615]:
# Checking the unique values, we can see that there are multiple universities
# with relatively very low counts. These are colleges outside CTU.
df['College'].value_counts(dropna=False)

College
College of Computer, Information and Communications Technology    143
College of Technology                                              76
College of Education                                               70
College of Engineering                                             48
College of Management and Entrepreneurship                         36
College of Arts and Sciences                                       35
College of Nursing                                                  3
College of Hospitality and tourism management                       1
College of Customs                                                  1
College of Medical Technology                                       1
Name: count, dtype: int64

In [616]:
# Identify colleges to remove
colleges_to_remove = [
    'College of Nursing',
    'College of Hospitality and tourism management ',
    'College of Customs',
    'College of Medical Technology ',
]
# Remove the colleges
df = df[~df['College'].isin(colleges_to_remove)]
df['College'].value_counts()

College
College of Computer, Information and Communications Technology    143
College of Technology                                              76
College of Education                                               70
College of Engineering                                             48
College of Management and Entrepreneurship                         36
College of Arts and Sciences                                       35
Name: count, dtype: int64

In [617]:
# Convert to categorical
df['College'] = pd.Categorical(df['College'], categories=df['College'].unique())

#### Year Level

Looking at the 27 respondents with missing YearLevel entries, we can see that 23 were teachers while 4 were students. Since it does not make sense for a student to not have a YearLevel entry, we will be dropping them. As for the teachers, we will assume that those with missing values are currently not studying and will be given a "Teaching" value for this column. Lastly, we convert the data type to categorical.

In [618]:
df['YearLevel'].value_counts(dropna=False)

YearLevel
Second Year    200
First Year      97
Third Year      56
Fourth Year     28
NaN             27
Name: count, dtype: int64

In [619]:
# If the respodent is a teacher, then it would make sense for the YearLevel to
# be missing
df[df['YearLevel'].isna()]['Respondent'].value_counts()

Respondent
Teacher    23
Student     4
Name: count, dtype: int64

In [620]:
# Found 4 students with missing YearLevel, we will be dropping their
# corresponding rows
df = df[~((df['YearLevel'].isna()) & (df['Respondent'] == 'Student'))]
# We will be using the value "Teaching" for the teachers
df['YearLevel'] = df['YearLevel'].fillna('Teaching')
df['YearLevel'].value_counts(dropna=False)

YearLevel
Second Year    200
First Year      97
Third Year      56
Fourth Year     28
Teaching        23
Name: count, dtype: int64

We convert the data type to categorical.

In [621]:
# Convert to categorical
df['YearLevel'] = pd.Categorical(df['YearLevel'], categories=df['YearLevel'].unique())

#### Education

Looking at the unique values and distribution of the respondents, we will be dropping this column due to the lack of support for the options outside the vague "College Level" option.

In [622]:
df.groupby('Respondent', observed=False)['Education'].value_counts()

Respondent  Education
Student     College Level                            369
            Bachelor's Degree                          8
            Currently A 2nd Year College Student       1
            Senior High School Graduate                1
            Still a college student                    1
            Doctorate Degree (PhD, EdD)                0
            Master's Degree                            0
            Professional Degree (JD, MD)               0
Teacher     Bachelor's Degree                          8
            Master's Degree                            8
            Doctorate Degree (PhD, EdD)                5
            College Level                              2
            Professional Degree (JD, MD)               1
            Currently A 2nd Year College Student       0
            Senior High School Graduate                0
            Still a college student                    0
Name: count, dtype: int64

In [623]:
# Drop the Education column
df = df.drop(['Education'], axis=1)

### **Data Cleaning - Main Section**

#### Barriers

The corresponding question for the `Barrier` column is a checkbox style question, which allows the respondent to select multiple options or provide their own through the "Others" option. In the dataset, these options are all joined together using commas.

We will be cleaning the data and separating it into the options as provided in the survey. As the rows with input given in the "Others" option are very few and most of these do have other options selected, we will be ignoring those "Others" input and simply indicate that they have chosen to write their own option.

In [624]:
# Check the values of the Barriers column
df['Barriers']

0                             AI Copilot ethical dilemma
1      AI Copilot ethical dilemma, Inflexible teachin...
2                             AI Copilot ethical dilemma
3      AI Copilot privacy concern, Insufficient budge...
4      Insufficient budget for the adoption of AI Cop...
                             ...
409    AI Copilot ethical dilemma, AI Copilot gives i...
410    Lack of teacher confidence and digital competence
411    AI Copilot ethical dilemma, AI Copilot privacy...
412    AI Copilot ethical dilemma, AI Copilot privacy...
413    AI Copilot privacy concern, AI Copilot gives i...
Name: Barriers, Length: 404, dtype: object

We first deal with the missing value.

In [625]:
# Deal with the missing value
df['Barriers'] = df['Barriers'].fillna('NA')

We then split the entries into the individual options selected.

In [626]:
# Provided options in the survey and their codes
# NA was included to match the placeholder
barriers_provided = {
    'AI Copilot ethical dilemma':'BC1',
    'AI Copilot privacy concern':'BC2',
    'AI Copilot gives inappropriate or misaligned text suggestions':'BC3',
    'Inflexible teaching methods and curricula':'BC4',
    'Insufficient budget for the adoption of AI Copilot':'BC5',
    'Lack of AI literacy':'BC6',
    'Lack of cognitive scaffolding for students':'BC7',
    'Lack of teacher confidence and digital competence':'BC8',
    'Unequal access to AI Copilot':'BC9',
    'User resistance to AI Copilot adoption':'BC10',
    'NA':'NA'
}

# Split individual options
# - The regex splits them by the commas, ignoring commas within sentences
# - The strip(', ') deals with blank input on "Others" option
barriers_split = [set(map(str.strip, re.split(r',\s+(?=[A-Z])', x.strip(', ')))) for x in df['Barriers']]

# Get all unique chosen options
barriers = set.union(*barriers_split)
barriers

{'AI Copilot ethical dilemma',
 'AI Copilot gives inappropriate or misaligned text suggestions',
 'AI Copilot privacy concern',
 'Decline in the cognitive processing of students as they will become dependent on AI usage rather than actively creating, participating, and solving their own problems.',
 'Dependency and misuse of AI Copilot',
 "I don't have any experience yet using AI Copilot",
 'Inflexible teaching methods and curricula',
 'Insufficient budget for the adoption of AI Copilot',
 'Lack of AI literacy',
 'Lack of cognitive scaffolding for students',
 'Lack of cognitive scaffolding for students, students might rely permanently on AI Copilot',
 'Lack of teacher confidence and digital competence',
 "Like sometimes they don't give you accurate answers or the answers you've been looking for. Nothing beats experiences from teachers.",
 'NA',
 'Nahimong tapulan ang mga  people tungod naay AI',
 'No further knowledge about AI copilot',
 'Over-reliance and Skill Degradation',
 "Student won't be learning in the correct way, but some can still use AI for learning and self studying.",
 'Students might weaken their ability to think critically and logically',
 'Unequal access to AI Copilot',
 'User resistance to AI Copilot adoption'}

In [627]:
# Get other inputs
barriers_others = barriers.difference(set(barriers_provided.keys()))
barriers_others

{'Decline in the cognitive processing of students as they will become dependent on AI usage rather than actively creating, participating, and solving their own problems.',
 'Dependency and misuse of AI Copilot',
 "I don't have any experience yet using AI Copilot",
 'Lack of cognitive scaffolding for students, students might rely permanently on AI Copilot',
 "Like sometimes they don't give you accurate answers or the answers you've been looking for. Nothing beats experiences from teachers.",
 'Nahimong tapulan ang mga  people tungod naay AI',
 'No further knowledge about AI copilot',
 'Over-reliance and Skill Degradation',
 "Student won't be learning in the correct way, but some can still use AI for learning and self studying.",
 'Students might weaken their ability to think critically and logically'}

In [628]:
# Inspect one of the entries
target_row = [barriers_split.index(row) for row in barriers_split if 'Lack of cognitive scaffolding for students, students might rely permanently on AI Copilot' in row][0]
barriers_split[target_row]

{'Lack of cognitive scaffolding for students, students might rely permanently on AI Copilot'}

In [629]:
# Fix that entry
barriers_split[target_row] = {'Lack of cognitive scaffolding for students', 'Students might rely permanently on AI Copilot'}
barriers = set.union(*barriers_split)
barriers

{'AI Copilot ethical dilemma',
 'AI Copilot gives inappropriate or misaligned text suggestions',
 'AI Copilot privacy concern',
 'Decline in the cognitive processing of students as they will become dependent on AI usage rather than actively creating, participating, and solving their own problems.',
 'Dependency and misuse of AI Copilot',
 "I don't have any experience yet using AI Copilot",
 'Inflexible teaching methods and curricula',
 'Insufficient budget for the adoption of AI Copilot',
 'Lack of AI literacy',
 'Lack of cognitive scaffolding for students',
 'Lack of teacher confidence and digital competence',
 "Like sometimes they don't give you accurate answers or the answers you've been looking for. Nothing beats experiences from teachers.",
 'NA',
 'Nahimong tapulan ang mga  people tungod naay AI',
 'No further knowledge about AI copilot',
 'Over-reliance and Skill Degradation',
 "Student won't be learning in the correct way, but some can still use AI for learning and self studying.",
 'Students might rely permanently on AI Copilot',
 'Students might weaken their ability to think critically and logically',
 'Unequal access to AI Copilot',
 'User resistance to AI Copilot adoption'}

Construct a dataframe from the selected barrier options.

In [630]:
# Convert to df with option codes as column names and 1 to indicate selection
# Count options not in the provided options as "BCX" which corresponds to the
# "Others" option
barriers_df = pd.DataFrame([{barriers_provided.get(item, "BCX"): 1 for item in row} for row in barriers_split]).fillna(0)
# Rearrange the columns, remove the placeholder NA
barriers_df = barriers_df[['BC1', 'BC2', 'BC3', 'BC4', 'BC5', 'BC6', 'BC7', 'BC8', 'BC9', 'BC10', 'BCX']]
barriers_df

     BC1  BC2  BC3  BC4  BC5  BC6  BC7  BC8  BC9  BC10  BCX
0    1.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0   0.0  0.0
1    1.0  0.0  0.0  1.0  0.0  1.0  0.0  0.0  0.0   1.0  0.0
2    1.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0   0.0  0.0
3    0.0  1.0  0.0  0.0  1.0  0.0  0.0  0.0  1.0   0.0  0.0
4    0.0  0.0  0.0  0.0  1.0  1.0  1.0  0.0  0.0   0.0  0.0
..   ...  ...  ...  ...  ...  ...  ...  ...  ...   ...  ...
399  1.0  0.0  1.0  0.0  0.0  0.0  1.0  1.0  0.0   0.0  0.0
400  0.0  0.0  0.0  0.0  0.0  0.0  0.0  1.0  0.0   0.0  0.0
401  1.0  1.0  1.0  0.0  0.0  0.0  1.0  0.0  1.0   1.0  0.0
402  1.0  1.0  0.0  0.0  0.0  0.0  1.0  0.0  1.0   1.0  0.0
403  0.0  1.0  1.0  1.0  1.0  1.0  1.0  0.0  1.0   1.0  0.0

[404 rows x 11 columns]

Change the `Barriers` column with the new columns.

In [631]:
# Replace the Barriers column with the new columns
df = df.drop(['Barriers'], axis=1)
df = pd.concat([df, barriers_df], axis=1)

In [632]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 414 entries, 0 to 373
Data columns (total 54 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Age         404 non-null    float64
 1   Sex         404 non-null    category
 2   Respondent  404 non-null    category
 3   College     404 non-null    category
 4   YearLevel   404 non-null    category
 5   UsageYears  404 non-null    category
 6   RAE1        404 non-null    float64
 7   RAE2        404 non-null    float64
 8   RAE3        404 non-null    float64
 9   RAE4        404 non-null    float64
 10  RAE5        404 non-null    float64
 11  RAE6        404 non-null    float64
 12  GS1         404 non-null    float64
 13  GS2         404 non-null    float64
 14  GS3         404 non-null    float64
 15  GS4         404 non-null    float64
 16  GS5         404 non-null    float64
 17  PS1         404 non-null    float64
 18  PS2         404 non-null    float64
 19  PS3         404 non-null    float64
 20  PS4         404 non-null    float64
 21  PS5         404 non-null    float64
 22  BA1         404 non-null    float64
 23  BA2         404 non-null    float64
 24  BA3         404 non-null    float64
 25  BA4         404 non-null    float64
 26  BA5         404 non-null    float64
 27  PU1         404 non-null    float64
 28  PU2         404 non-null    float64
 29  PU3         404 non-null    float64
 30  PU4         404 non-null    float64
 31  PU5         404 non-null    float64
 32  PU6         404 non-null    float64
 33  PEOU1       404 non-null    float64
 34  PEOU2       404 non-null    float64
 35  PEOU3       404 non-null    float64
 36  PEOU4       404 non-null    float64
 37  PEOU5       404 non-null    float64
 38  ITU1        404 non-null    float64
 39  ITU2        404 non-null    float64
 40  ITU3        404 non-null    float64
 41  ITU4        404 non-null    float64
 42  ITU5        404 non-null    float64
 43  BC1         404 non-null    float64
 44  BC2         404 non-null    float64
 45  BC3         404 non-null    float64
 46  BC4         404 non-null    float64
 47  BC5         404 non-null    float64
 48  BC6         404 non-null    float64
 49  BC7         404 non-null    float64
 50  BC8         404 non-null    float64
 51  BC9         404 non-null    float64
 52  BC10        404 non-null    float64
 53  BCX         404 non-null    float64
dtypes: category(5), float64(49)
memory usage: 164.6 KB