# CSMODEL Project: AI Copilot in Education Analysis
Group 5

## 1. Introduction

This dataset was made by Emille Villacerat and Celbert Himang as part of their paper “Data on behavioural intention to use AI copilot through TAM and AI ecological education policy lens” last May 13, 2025. According to the paper, the study introduces a dataset examining the behavioral intention of the faculty and students of Cebu Technological University to adopt AI Copilot. The analysis is grounded in the Technology Acceptance Model (TAM) and the AI Ecological Education Policy Framework. Data was gathered through a quantitative survey, administered digitally to a diverse group of participants, including professors and students from different academic departments and year levels.

The researchers gathered the data through an online, five point Likert Scale survey to assess the perceptions of AI Copilot adoption amongst respondents of Cebu Technological University. The questions used in the survey were derived from existing literature on technology acceptance and educational frameworks.

Each row in the dataset corresponds to one respondent. 414 responses were gathered, however only 396 were deemed valid responses due to low variability of answers from 18 respondents. The whole survey, ranging from demographics, to likert scale questions, totals to 45 variables.

In [1]:
# 1. Clone github repository for the data
!git clone https://github.com/CyAdrienneRamos/csmodel-mco.git

Cloning into 'csmodel-mco'...

In [1]:
# 2. Import Libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import re

In [2]:
# 3. Load the Dataset
file_path_raw = 'survey_data_raw.xls' #Changed so that it can work on Joshua's local device!
df = pd.read_excel(file_path_raw, nrows=414)

## 2. Data Preprocessing

#### We first check if the data is properly imported.

In [3]:
# Check if the data is properly imported
df.head()

,TimeStamp(OnOpenForm),Timestamp(OnClickSubmit),Duration(in Minutes),"I am aware of the purpose of this survey questionnaire on AI Copilot in Education: A Study on Usage and Acceptance through TAM and AI Ecological Policy Lens. The survey is designed to understand my experiences, perceptions, and attitudes toward using AI",Age:,Sex:,Highest Educational Attainment,Type of respondent,College:,"If student, specify year level",...,PEOU2:My interaction with AI Copilot does not require much mental effort.,PEOU3: It is easy to become skillful using AI Copilot,PEOU4: I found AI Copilot easy to use.,PEOU5: It would be easy for me to find information using AI Copilot.,ITU1: I intend to use AI Copilot to a greater extent.,ITU2: I think doing my schoolwork using AI Copilot is interesting.,ITU3: I believe that AI Copilot is a valuable tool for doing my schoolwork.,ITU4: I will recommend AI Copilot to another schoolmate or colleague.,ITU5: I believe that AI Copilot has given me a unique experience.,Please check the box(es) corresponding to the barriers and challenges that may be encountered in the continuous usage of AI Copilot
0,2024-10-17 21:24:58.000,2024-10-17 21:36:58.000,12,I consent voluntarily to participate in this s...,21,Male,College Level,Student,"College of Computer, Information and Communica...",Second Year,...,4,4,5,5,4,4,5,4,4,AI Copilot ethical dilemma
1,2024-10-17 21:17:47.246,2024-10-17 21:28:47.246,11,I consent voluntarily to participate in this s...,19,Male,College Level,Student,"College of Computer, Information and Communica...",Second Year,...,5,5,5,4,3,5,5,5,5,"AI Copilot ethical dilemma, Inflexible teachin..."
2,2024-10-17 21:20:07.997,2024-10-17 21:34:07.997,14,I consent voluntarily to participate in this s...,19,Male,College Level,Student,"College of Computer, Information and Communica...",Second Year,...,3,2,3,5,4,4,3,3,4,AI Copilot ethical dilemma
3,2024-10-17 21:20:13.838,2024-10-17 21:35:13.838,15,I consent voluntarily to participate in this s...,19,Male,College Level,Student,"College of Computer, Information and Communica...",Second Year,...,4,4,4,4,4,3,3,3,3,"AI Copilot privacy concern, Insufficient budge..."
4,2024-10-17 21:20:52.396,2024-10-17 21:33:52.396,13,I consent voluntarily to participate in this s...,19,Female,College Level,Student,"College of Computer, Information and Communica...",Second Year,...,4,4,4,4,4,4,4,4,4,Insufficient budget for the adoption of AI Cop...

In [4]:
# Check if the data is properly imported
df.tail()

,TimeStamp(OnOpenForm),Timestamp(OnClickSubmit),Duration(in Minutes),"I am aware of the purpose of this survey questionnaire on AI Copilot in Education: A Study on Usage and Acceptance through TAM and AI Ecological Policy Lens. The survey is designed to understand my experiences, perceptions, and attitudes toward using AI",Age:,Sex:,Highest Educational Attainment,Type of respondent,College:,"If student, specify year level",...,PEOU2:My interaction with AI Copilot does not require much mental effort.,PEOU3: It is easy to become skillful using AI Copilot,PEOU4: I found AI Copilot easy to use.,PEOU5: It would be easy for me to find information using AI Copilot.,ITU1: I intend to use AI Copilot to a greater extent.,ITU2: I think doing my schoolwork using AI Copilot is interesting.,ITU3: I believe that AI Copilot is a valuable tool for doing my schoolwork.,ITU4: I will recommend AI Copilot to another schoolmate or colleague.,ITU5: I believe that AI Copilot has given me a unique experience.,Please check the box(es) corresponding to the barriers and challenges that may be encountered in the continuous usage of AI Copilot
409,2024-10-28 00:48:18.390,2024-10-28 00:59:18.390,11,I consent voluntarily to participate in this s...,20,Female,College Level,Student,College of Education,Third Year,...,3,3,3,5,4,3,2,2,5,"AI Copilot ethical dilemma, AI Copilot gives i..."
410,2024-10-28 00:49:32.232,2024-10-28 01:02:32.232,13,I consent voluntarily to participate in this s...,19,Female,College Level,Student,"College of Computer, Information and Communica...",First Year,...,3,3,3,4,3,4,4,3,3,Lack of teacher confidence and digital competence
411,2024-10-28 12:41:05.672,2024-10-28 12:50:05.672,9,I consent voluntarily to participate in this s...,19,Female,College Level,Student,"College of Computer, Information and Communica...",Second Year,...,2,2,4,4,4,4,2,4,4,"AI Copilot ethical dilemma, AI Copilot privacy..."
412,2024-10-28 14:36:35.273,2024-10-28 14:50:35.273,14,I consent voluntarily to participate in this s...,19,Female,College Level,Student,College of Management and Entrepreneurship,Second Year,...,3,3,3,3,3,3,3,4,4,"AI Copilot ethical dilemma, AI Copilot privacy..."
413,2024-10-28 19:15:49.326,2024-10-28 19:29:49.326,14,I consent voluntarily to participate in this s...,19,Female,College Level,Student,College of Management and Entrepreneurship,Second Year,...,3,3,4,4,3,4,5,5,5,"AI Copilot privacy concern, AI Copilot gives i..."

Looking at the df.info(), we can see that we have some null values. The column namings are also very messy. Some column data types also defaulted to objects. We will be dealing with these in the following sections.

In [5]:
# Look at the data structure of the dataframe
# Here we see the columns, number of rows, data types, and null counts
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 414 entries, 0 to 413
Data columns (total 49 columns):
 #   Column                                                                                                                                                                                                                                                           Non-Null Count  Dtype
---  ------                                                                                                                                                                                                                                                           --------------  -----
 0   TimeStamp(OnOpenForm)                                                                                                                                                                                                                                            414 non-null    datetime64[ns]
 1   Timestamp(OnClickSubmit)                                                                                                                                                                                                                                         414 non-null    datetime64[ns]
 2   Duration(in Minutes)                                                                                                                                                                                                                                             414 non-null    int64
 3    I am aware of the purpose of this survey questionnaire on AI Copilot in Education: A Study on Usage and Acceptance through TAM and AI Ecological Policy Lens. The survey is designed to understand my experiences, perceptions, and attitudes toward using AI   414 non-null    object
 4   Age:                                                                                                                                                                                                                                                             414 non-null    int64
 5   Sex:                                                                                                                                                                                                                                                             414 non-null    object
 6   Highest  Educational Attainment                                                                                                                                                                                                                                  414 non-null    object
 7   Type of respondent                                                                                                                                                                                                                                               414 non-null    object
 8   College:                                                                                                                                                                                                                                                         414 non-null    object
 9   If student, specify year level                                                                                                                                                                                                                                   387 non-null    object
 10  Years of AI usage                                                                                                                                                                                                                                                414 non-null    object
 11  RAE1: The assessment design should allow AI such as AI Copilot to enhance learning outcomes.                                                                                                                                                                     414 non-null    int64
 12  RAE2: An assessment must focus on students' comprehension                                                                                                                                                                                                        414 non-null    int64
 13  RAE3: Assessment must be automated scoring.                                                                                                                                                                                                                      414 non-null    int64
 14  RAE4: Teachers must use portfolio assessments to track students’ progress.                                                                                                                                                                                       414 non-null    int64
 15  RAE5: Teachers must use rubrics to set clear performance standards, allowing for fair and organized assessment of student work.                                                                                                                                  414 non-null    int64
 16  RAE6: The assessment design should not allow AI Copilot to enhance learning outcomes.                                                                                                                                                                            414 non-null    int64
 17  GS1: Teachers must teach the students to evaluate the credibility of AI Copilot-generated content.                                                                                                                                                               414 non-null    int64
 18  GS2: Teachers must create learning activities incorporating instructional strategies that enhance students’ critical thinking skills.                                                                                                                            414 non-null    int64
 19  GS3: The university must provide educational resources such as AI Copilot to enhance students’ self-regulation.                                                                                                                                                  414 non-null    int64
 20  GS4: Teachers must create active learning tasks that enhance students’ social responsibility learning.                                                                                                                                                           414 non-null    int64
 21  GS5: Teachers must allow the students to learn workplace skills.                                                                                                                                                                                                 414 non-null    int64
 22  PS1:  Teachers must teach the students how to use AI Copilot responsibly.                                                                                                                                                                                        414 non-null    int64
 23  PS2:   The university must develop curricula that reflect the increasing prominences of AI in various industries.                                                                                                                                                414 non-null    int64
 24  PS3:   Curricula should prioritize applied skills over rote memorization.                                                                                                                                                                                        414 non-null    int64
 25  PS4:    Teachers must measure key skills for human-AI collaboration by prioritizing portfolios over standardized scores to capture growth.                                                                                                                       414 non-null    int64
 26  PS5:     Teachers must prepare the students for life-long, student-driven learning.                                                                                                                                                                              414 non-null    int64
 27  BA1:      Teachers must incorporate AI Copilot in the development of assessments.                                                                                                                                                                                414 non-null    int64
 28  BA2:    I should learn how AI Copilot can assist me.                                                                                                                                                                                                             414 non-null    int64
 29  BA3:   I must balance the automation provided by AI Copilot by understanding that I am still the pilot of my work.                                                                                                                                               414 non-null    int64
 30  BA4:   The university must provide adequate training for users to enhance their skills and confidence in using AI Copilot                                                                                                                                        414 non-null    int64
 31  BA5:   The university must address ethical issues with AI Copilot, like bias, transparency, and mental health effects.                                                                                                                                           414 non-null    int64
 32  PU1:  Using AI Copilot in my work would enable me to accomplish tasks more quickly.                                                                                                                                                                              414 non-null    int64
 33  PU2: Using AI Copilot can improve my work efficiency.                                                                                                                                                                                                            414 non-null    int64
 34  PU3: Advancing studies using AI Copilot can help me acquire the information I want.                                                                                                                                                                              414 non-null    int64
 35  PU4: Using AI Copilot in my work would increase my productivity.                                                                                                                                                                                                 414 non-null    int64
 36  PU5: AI Copilot would improve my work performance.                                                                                                                                                                                                               414 non-null    int64
 37  PU6: Using AI Copilot in my work won't enable me to accomplish tasks more quickly.                                                                                                                                                                               414 non-null    int64
 38  PEOU1: Learning to operate AI Copilot would be easy for me.                                                                                                                                                                                                      414 non-null    int64
 39  PEOU2:My interaction with AI Copilot does not require much mental effort.                                                                                                                                                                                        414 non-null    int64
 40  PEOU3: It is easy to become skillful using AI Copilot                                                                                                                                                                                                            414 non-null    int64
 41  PEOU4: I found AI Copilot easy to use.                                                                                                                                                                                                                           414 non-null    int64
 42  PEOU5: It would be easy for me to find information using AI Copilot.                                                                                                                                                                                             414 non-null    int64
 43  ITU1: I intend to use AI Copilot to a greater extent.                                                                                                                                                                                                            414 non-null    int64
 44  ITU2: I think doing my schoolwork using AI Copilot is interesting.                                                                                                                                                                                               414 non-null    int64
 45  ITU3: I believe that AI Copilot is a valuable tool for doing my schoolwork.                                                                                                                                                                                      414 non-null    int64
 46  ITU4: I will recommend AI Copilot to another schoolmate or colleague.                                                                                                                                                                                            414 non-null    int64
 47  ITU5: I believe that AI Copilot has given me a unique experience.                                                                                                                                                                                                414 non-null    int64
 48  Please check the box(es) corresponding to the barriers and challenges that may be encountered in the continuous usage of AI Copilot                                                                                                                              413 non-null    object
dtypes: datetime64[ns](2), int64(39), object(8)
memory usage: 158.6+ KB

We first start with removing unnecessary columns.

In [6]:
# We will not be using the timestamps, duration, and consent
df = df.drop(columns=df.columns[:4])

We then clean up the remaining column names by replacing them with their question code from the survey and simplifying some.

In [7]:
# First take the column labels
columns = list(df.columns)
# Extract the question codes
columns_split = [list(map(str.strip, x.split(':'))) for x in columns]
# Simplify some column names
columns_keys_map = {
    'Highest  Educational Attainment':'Education',
    'Type of respondent':'Respondent',
    'If student, specify year level':'YearLevel',
    'Years of AI usage':'UsageYears',
    'Please check the box(es) corresponding to the barriers and challenges that may be encountered in the continuous usage of AI Copilot':'Barriers'
}
# Apply the change map
columns = [columns_keys_map.get(x[0], x[0]) for x in columns_split]
# Update the column labels
df.columns = columns

#Add this to store the descriptions
#columns_split_mapped = [[columns_keys_map.get(x[0], x[0]), (x[0] if x[0] in columns_keys_map.keys() else x[1])] for x in columns_split]
#df.columns = columns_desc.keys()
#columns_desc = {x[0]:(x[1].strip() if x[1]!='' else x[0]) for x in columns_split_mapped}
#columns_desc
df.head()

,Age,Sex,Education,Respondent,College,YearLevel,UsageYears,RAE1,RAE2,RAE3,...,PEOU2,PEOU3,PEOU4,PEOU5,ITU1,ITU2,ITU3,ITU4,ITU5,Barriers
0,21,Male,College Level,Student,"College of Computer, Information and Communica...",Second Year,0 - 1 year,5,5,4,...,4,4,5,5,4,4,5,4,4,AI Copilot ethical dilemma
1,19,Male,College Level,Student,"College of Computer, Information and Communica...",Second Year,0 - 1 year,5,3,3,...,5,5,5,4,3,5,5,5,5,"AI Copilot ethical dilemma, Inflexible teachin..."
2,19,Male,College Level,Student,"College of Computer, Information and Communica...",Second Year,1 - 2 years,5,5,4,...,3,2,3,5,4,4,3,3,4,AI Copilot ethical dilemma
3,19,Male,College Level,Student,"College of Computer, Information and Communica...",Second Year,1 - 2 years,4,4,3,...,4,4,4,4,4,3,3,3,3,"AI Copilot privacy concern, Insufficient budge..."
4,19,Female,College Level,Student,"College of Computer, Information and Communica...",Second Year,0 - 1 year,4,5,2,...,4,4,4,4,4,4,4,4,4,Insufficient budget for the adoption of AI Cop...

### Data Cleaning - Respondent Information

#### Age

There are no problems with the Age column.

In [8]:
# No problems with the values
df['Age'].describe()

count    414.000000
mean      20.712560
std        4.410749
min       18.000000
25%       19.000000
50%       20.000000
75%       21.000000
max       57.000000
Name: Age, dtype: float64

#### Sex

We convert the data type to categorical.

In [9]:
# No problems with the unique values and counts
df['Sex'].value_counts(dropna=False)

Sex
Male      209
Female    205
Name: count, dtype: int64

In [10]:
# Convert to categorical
df['Sex'] = pd.Categorical(df['Sex'], categories=df['Sex'].unique())

#### Respondent

We convert the data type to categorical.

In [11]:
# No problems with the unique values and counts
df['Respondent'].value_counts(dropna=False)

Respondent
Student    390
Teacher     24
Name: count, dtype: int64

In [12]:
# Convert to categorical
df['Respondent'] = pd.Categorical(df['Respondent'], categories=df['Respondent'].unique())

#### Usage Years

We convert the data type to categorical.

In [13]:
# No problems with the unique values and counts
df['UsageYears'].value_counts(dropna=False)

UsageYears
1 - 2 years       195
0 - 1 year        142
3 - 4 years        49
beyond 4 years     28
Name: count, dtype: int64

In [14]:
# Convert to categorical
df['UsageYears'] = pd.Categorical(df['UsageYears'], categories=df['UsageYears'].unique())

#### College

We remove respondents from colleges not under Cebu Technological University.

In [15]:
# Checking the unique values, we can see that there are multiple universities
# with relatively very low counts. These are colleges outside CTU.
df['College'].value_counts(dropna=False)

College
College of Computer, Information and Communications Technology    143
College of Technology                                              76
College of Education                                               70
College of Engineering                                             48
College of Management and Entrepreneurship                         36
College of Arts and Sciences                                       35
College of Nursing                                                  3
College of Hospitality and tourism management                       1
College of Customs                                                  1
College of Medical Technology                                       1
Name: count, dtype: int64

In [16]:
# Identify colleges to remove
colleges_to_remove = [
    'College of Nursing',
    'College of Hospitality and tourism management ',
    'College of Customs',
    'College of Medical Technology ',
]
# Remove the colleges
df = df[~df['College'].isin(colleges_to_remove)]
df['College'].value_counts()

College
College of Computer, Information and Communications Technology    143
College of Technology                                              76
College of Education                                               70
College of Engineering                                             48
College of Management and Entrepreneurship                         36
College of Arts and Sciences                                       35
Name: count, dtype: int64

We convert the data type to categorical.

In [17]:
df['College'] = pd.Categorical(df['College'], categories=df['College'].unique())

#### Year Level

We first deal with the missing values.

In [18]:
df['YearLevel'].value_counts(dropna=False)

YearLevel
Second Year    200
First Year      97
Third Year      56
Fourth Year     28
NaN             27
Name: count, dtype: int64

In [19]:
# If the respodent is a teacher, then it would make sense for the YearLevel to
# be missing
df[df['YearLevel'].isna()]['Respondent'].value_counts()

Respondent
Teacher    23
Student     4
Name: count, dtype: int64

In [20]:
# We found 4 students with missing YearLevel
df[(df['YearLevel'].isna()) & (df['Respondent'] == 'Student')]
# We will be dropping their corresponding rows
df = df[~((df['YearLevel'].isna()) & (df['Respondent'] == 'Student'))]
# We will be using the value "Teaching" for the teachers
df['YearLevel'] = df['YearLevel'].fillna('Teaching')
df['YearLevel'].value_counts(dropna=False)

YearLevel
Second Year    200
First Year      97
Third Year      56
Fourth Year     28
Teaching        23
Name: count, dtype: int64

We convert the data type to categorical.

In [21]:
df['YearLevel'] = pd.Categorical(df['YearLevel'], categories=df['YearLevel'].unique())

#### Education

We will be dropping this column as the student respondents are all college students. Although the teachers have a higher variation, there are some under the vague "College Level" category.

In [22]:
df.groupby('Respondent', observed=False)['Education'].value_counts()

Respondent  Education
Student     College Level                            369
            Bachelor's Degree                          8
            Currently A 2nd Year College Student       1
            Senior High School Graduate                1
            Still a college student                    1
            Doctorate Degree (PhD, EdD)                0
            Master's Degree                            0
            Professional Degree (JD, MD)               0
Teacher     Bachelor's Degree                          8
            Master's Degree                            8
            Doctorate Degree (PhD, EdD)                5
            College Level                              2
            Professional Degree (JD, MD)               1
            Currently A 2nd Year College Student       0
            Senior High School Graduate                0
            Still a college student                    0
Name: count, dtype: int64

In [23]:
# Drop the Education column
df = df.drop(['Education'], axis=1)

### Data Cleaning - Questionnaire

The data types for the questionnaire are the following:

#### Barriers

The data for this column are all joined together using commas. We will be cleaning the data and separating it into the options as provided in the survey. Input given in the "Others" option will be ignored.

In [24]:
# Check the valued of the Barriers column
df['Barriers']

0                             AI Copilot ethical dilemma
1      AI Copilot ethical dilemma, Inflexible teachin...
2                             AI Copilot ethical dilemma
3      AI Copilot privacy concern, Insufficient budge...
4      Insufficient budget for the adoption of AI Cop...
                             ...
409    AI Copilot ethical dilemma, AI Copilot gives i...
410    Lack of teacher confidence and digital competence
411    AI Copilot ethical dilemma, AI Copilot privacy...
412    AI Copilot ethical dilemma, AI Copilot privacy...
413    AI Copilot privacy concern, AI Copilot gives i...
Name: Barriers, Length: 404, dtype: object

We temporarily deal with the row with a missing value.

In [25]:
# One respondent did not select any
df[df['Barriers'].isnull()]

,Age,Sex,Respondent,College,YearLevel,UsageYears,RAE1,RAE2,RAE3,RAE4,...,PEOU2,PEOU3,PEOU4,PEOU5,ITU1,ITU2,ITU3,ITU4,ITU5,Barriers
290,18,Female,Student,College of Technology,First Year,beyond 4 years,3,3,2,3,...,4,4,4,4,4,5,5,4,4,NaN

In [26]:
# We will give it a placeholder value for now
df['Barriers'] = df['Barriers'].fillna('NA')

We then split up the options that the respondents selected.

In [27]:
# Provided options in the survey
barriers_provided = {
    'AI Copilot ethical dilemma':'BC1',
    'AI Copilot privacy concern':'BC2',
    'AI Copilot gives inappropriate or misaligned text suggestions':'BC3',
    'Inflexible teaching methods and curricula':'BC4',
    'Insufficient budget for the adoption of AI Copilot':'BC5',
    'Lack of AI literacy':'BC6',
    'Lack of cognitive scaffolding for students':'BC7',
    'Lack of teacher confidence and digital competence':'BC8',
    'Unequal access to AI Copilot':'BC9',
    'User resistance to AI Copilot adoption':'BC10',
    'NA':'NA'
}
# Get barriers as a list
barriers_list = list(df['Barriers'])
# Split individual options
# - The regex splits them by the commas, ignoring commas within sentences
# - The strip(', ') deals with blank input on "Others" option
barriers_split = [set(map(str.strip, re.split(r',\s+(?=[A-Z])', x.strip(', ')))) for x in barriers_list]
# Get all unique chosen options
barriers = set.union(*barriers_split)
# Other inputs
barriers_others = barriers.difference(set(barriers_provided.keys()))
barriers_others

{'Decline in the cognitive processing of students as they will become dependent on AI usage rather than actively creating, participating, and solving their own problems.',
 'Dependency and misuse of AI Copilot',
 "I don't have any experience yet using AI Copilot",
 'Lack of cognitive scaffolding for students, students might rely permanently on AI Copilot',
 "Like sometimes they don't give you accurate answers or the answers you've been looking for. Nothing beats experiences from teachers.",
 'Nahimong tapulan ang mga  people tungod naay AI',
 'No further knowledge about AI copilot',
 'Over-reliance and Skill Degradation',
 "Student won't be learning in the correct way, but some can still use AI for learning and self studying.",
 'Students might weaken their ability to think critically and logically'}

In [28]:
# Remove input for the "Others" option
barriers_clean = [row.difference(barriers_others) for row in barriers_split]
# Check the new unique chosen options
barriers = set.union(*barriers_clean)
barriers

{'AI Copilot ethical dilemma',
 'AI Copilot gives inappropriate or misaligned text suggestions',
 'AI Copilot privacy concern',
 'Inflexible teaching methods and curricula',
 'Insufficient budget for the adoption of AI Copilot',
 'Lack of AI literacy',
 'Lack of cognitive scaffolding for students',
 'Lack of teacher confidence and digital competence',
 'NA',
 'Unequal access to AI Copilot',
 'User resistance to AI Copilot adoption'}

In [29]:
# Convert to df with option codes as column names and 1 to indicate selection
barriers_df = pd.DataFrame([{barriers_provided[item]: 1 for item in row} for row in barriers_clean]).fillna(0).astype(int)
# Rearrange the columns, remove the placeholder NA
barriers_df = barriers_df[['BC1', 'BC2', 'BC3', 'BC4', 'BC5', 'BC6', 'BC7', 'BC8', 'BC9', 'BC10']]
barriers_df

     BC1  BC2  BC3  BC4  BC5  BC6  BC7  BC8  BC9  BC10
0      1    0    0    0    0    0    0    0    0     0
1      1    0    0    1    0    1    0    0    0     1
2      1    0    0    0    0    0    0    0    0     0
3      0    1    0    0    1    0    0    0    1     0
4      0    0    0    0    1    1    1    0    0     0
..   ...  ...  ...  ...  ...  ...  ...  ...  ...   ...
399    1    0    1    0    0    0    1    1    0     0
400    0    0    0    0    0    0    0    1    0     0
401    1    1    1    0    0    0    1    0    1     1
402    1    1    0    0    0    0    1    0    1     1
403    0    1    1    1    1    1    1    0    1     1

[404 rows x 10 columns]

In [30]:
# Replace the Barriers column with the cleaner Barrier columns
df = df.drop(['Barriers'], axis=1)
df = pd.concat([df, barriers_df], axis=1)

#### Questions

The study based on this dataset mentions that some responses were ommited due to having minimal variability; though it does not elaborate on this claim. We will go over the authenticity of the ratings of all questions, and determine which responses to drop.

In [141]:
# Create an instance of the main DataFrame, only containing columns of the questions
ques_df = df

# Get a list of the question codes
questions = ques_df.columns
questions

Index(['Age', 'Sex', 'Respondent', 'College', 'YearLevel', 'UsageYears',
       'RAE1', 'RAE2', 'RAE3', 'RAE4', 'RAE5', 'RAE6', 'GS1', 'GS2', 'GS3',
       'GS4', 'GS5', 'PS1', 'PS2', 'PS3', 'PS4', 'PS5', 'BA1', 'BA2', 'BA3',
       'BA4', 'BA5', 'PU1', 'PU2', 'PU3', 'PU4', 'PU5', 'PU6', 'PEOU1',
       'PEOU2', 'PEOU3', 'PEOU4', 'PEOU5', 'ITU1', 'ITU2', 'ITU3', 'ITU4',
       'ITU5', 'BC1', 'BC2', 'BC3', 'BC4', 'BC5', 'BC6', 'BC7', 'BC8', 'BC9',
       'BC10', 'RAE_var', 'PU_var'],
      dtype='object')

From the `questions` list (and the survey questionare document on the dataset's website), the 6th question in group RAE and PU are **sincerity questions**. This question is the *complete opposite* of the 1st question asked in each group. Thus, to determine which responses to drop, the sum of each groups' 1st and 6th question will be calculated per response. If the sum if equal to 10, then the response is deemed inauthentic (answered the same rating for two contrasting questions) and will be dropped.

In [143]:
# Create a new column that shows the variability (total rating) of each response
ques_df['RAE_var'] = ques_df['RAE1'] + ques_df['RAE6']
ques_df['PU_var'] = ques_df['PU1'] + ques_df['PU6']

# Gather all responses that are inauthentic
ques_df = ques_df[(ques_df['RAE_var'] == 10) | (ques_df['PU_var'] == 10)]

# Display the relevant question ratings and variability
cols = ['RAE1', 'RAE6', 'PU1', 'PU6', 'RAE_var', 'PU_var']
disp = ques_df[cols]
disp

     RAE1  RAE6  PU1  PU6  RAE_var  PU_var
0     5.0   5.0  4.0  2.0     10.0     6.0
8     5.0   5.0  5.0  1.0     10.0     6.0
19    3.0   5.0  5.0  5.0      8.0    10.0
21    4.0   5.0  5.0  5.0      9.0    10.0
23    5.0   5.0  5.0  2.0     10.0     7.0
27    5.0   5.0  5.0  1.0     10.0     6.0
47    5.0   4.0  5.0  5.0      9.0    10.0
48    5.0   5.0  5.0  2.0     10.0     7.0
62    4.0   4.0  5.0  5.0      8.0    10.0
65    5.0   5.0  4.0  1.0     10.0     5.0
67    5.0   5.0  4.0  1.0     10.0     5.0
72    5.0   5.0  5.0  5.0     10.0    10.0
73    5.0   5.0  1.0  1.0     10.0     2.0
85    5.0   5.0  5.0  2.0     10.0     7.0
91    5.0   5.0  5.0  1.0     10.0     6.0
97    4.0   3.0  5.0  5.0      7.0    10.0
111   5.0   5.0  5.0  5.0     10.0    10.0
116   5.0   5.0  5.0  1.0     10.0     6.0
120   5.0   4.0  5.0  5.0      9.0    10.0
125   5.0   5.0  5.0  1.0     10.0     6.0
142   5.0   5.0  5.0  5.0     10.0    10.0
146   4.0   5.0  5.0  5.0      9.0    10.0
149   5.0   5.0  5.0  1.0     10.0     6.0
157   5.0   5.0  5.0  5.0     10.0    10.0
165   5.0   5.0  5.0  1.0     10.0     6.0
171   5.0   5.0  5.0  1.0     10.0     6.0
173   5.0   5.0  5.0  4.0     10.0     9.0
190   5.0   5.0  5.0  2.0     10.0     7.0
205   5.0   5.0  5.0  5.0     10.0    10.0
210   5.0   2.0  5.0  5.0      7.0    10.0
217   4.0   4.0  5.0  5.0      8.0    10.0
218   5.0   4.0  5.0  5.0      9.0    10.0
233   5.0   4.0  5.0  5.0      9.0    10.0
238   5.0   5.0  5.0  5.0     10.0    10.0
239   5.0   5.0  5.0  4.0     10.0     9.0
255   3.0   2.0  5.0  5.0      5.0    10.0
257   5.0   1.0  5.0  5.0      6.0    10.0
287   5.0   5.0  5.0  5.0     10.0    10.0
300   4.0   4.0  5.0  5.0      8.0    10.0
306   4.0   4.0  5.0  5.0      8.0    10.0
321   5.0   5.0  5.0  5.0     10.0    10.0
323   5.0   5.0  5.0  4.0     10.0     9.0
335   4.0   4.0  5.0  5.0      8.0    10.0
342   4.0   4.0  5.0  5.0      8.0    10.0
345   5.0   5.0  4.0  5.0     10.0     9.0
354   4.0   5.0  5.0  5.0      9.0    10.0
359   5.0   5.0  5.0  5.0     10.0    10.0
363   4.0   3.0  5.0  5.0      7.0    10.0
366   4.0   5.0  5.0  5.0      9.0    10.0
375   2.0   2.0  5.0  5.0      4.0    10.0
379   5.0   5.0  5.0  5.0     10.0    10.0
382   3.0   3.0  5.0  5.0      6.0    10.0
393   3.0   3.0  5.0  5.0      6.0    10.0
394   5.0   2.0  5.0  5.0      7.0    10.0

Taking the number of inauthentic responses, we get 54.

In [151]:
len(disp)

54

All of these will be dropped from the main dataset.

In [147]:
# Obtain the indices of all responses to drop
inauthentic = ques_df.index
inauthentic

Index([  0,   8,  19,  21,  23,  27,  47,  48,  62,  65,  67,  72,  73,  85,
        91,  97, 111, 116, 120, 125, 142, 146, 149, 157, 165, 171, 173, 190,
       205, 210, 217, 218, 233, 238, 239, 255, 257, 287, 300, 306, 321, 323,
       335, 342, 345, 354, 359, 363, 366, 375, 379, 382, 393, 394],
      dtype='int64')

In [150]:
# Drop the responses from main dataset
df = df.drop(df.index[list(inauthentic)])
df

,Age,Sex,Respondent,College,YearLevel,UsageYears,RAE1,RAE2,RAE3,RAE4,...,BC3,BC4,BC5,BC6,BC7,BC8,BC9,BC10,RAE_var,PU_var
1,19.0,Male,Student,"College of Computer, Information and Communica...",Second Year,0 - 1 year,5.0,3.0,3.0,3.0,...,0.0,1.0,0.0,1.0,0.0,0.0,0.0,1.0,8.0,4.0
2,19.0,Male,Student,"College of Computer, Information and Communica...",Second Year,1 - 2 years,5.0,5.0,4.0,4.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,9.0,7.0
3,19.0,Male,Student,"College of Computer, Information and Communica...",Second Year,1 - 2 years,4.0,4.0,3.0,4.0,...,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,7.0,5.0
4,19.0,Female,Student,"College of Computer, Information and Communica...",Second Year,0 - 1 year,4.0,5.0,2.0,4.0,...,0.0,0.0,1.0,1.0,1.0,0.0,0.0,0.0,7.0,5.0
5,20.0,Male,Student,"College of Computer, Information and Communica...",Second Year,1 - 2 years,4.0,4.0,5.0,5.0,...,0.0,1.0,1.0,0.0,0.0,0.0,0.0,1.0,6.0,7.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
313,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,NaN,NaN
344,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN
364,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1.0,0.0,0.0,0.0,0.0,1.0,1.0,1.0,NaN,NaN
371,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.0,0.0,1.0,0.0,1.0,1.0,1.0,0.0,NaN,NaN
373,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN